/* Update with our styling */

body {
  color: #664F35;
  background-color: #664F35;
  font-family: "Cormorant", "Times New Roman", serif;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
  background-color: #FFF7ED;
}

h1 {
  font-family: "Gabarito", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 6rem;
}

h2 {
  font-family: "Gabarito", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
}

h3 {
  font-family: "Gabarito", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
}

h4 {
  font-family: "Gabarito", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.25rem;
}

h5 {
  font-family: "Gabarito", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16rem;
}

a {
  font-family: "Gabarito", Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: #664F35;
  transition: 0.4s;
  padding: 3px;
}

.genre {
  background-color: #664F35;
  color: white;
  padding: 0.25rem;
}

@media (hover: hover) {
  a:hover {
    background-color: #664F35;
    color: #FFF7ED;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
