/* Update with our styling */

body {
  color: #664F35;
  background-color: #664F35;
  font-family: "Cormorant", "Times New Roman", serif;
  margin: 0;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
  background-color: #664F35;
}

h1 {
  font-family: "Gabarito", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 6rem;
}

h2 {
  font-family: "Gabarito", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
}

h3 {
  font-family: "Gabarito", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
}

h4 {
  font-family: "Gabarito", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.25rem;
}

h5 {
  font-family: "Gabarito", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16rem;
}

a {
  font-family: "Gabarito", Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: #664F35;
  transition: 0.4s;
  padding: 3px;
}

/* ---- This class is used to center the main element on page and add white background color ---- */
.wrapper {
  width: 90vw;
  margin: auto;
  background-color: #FFF7ED;
  padding: 1rem;
}

/* ---- This class is used to style genre tags ---- */
.genre {
  background-color: #664F35;
  color: #FFF7ED;
  padding: 0.25rem;
}

@media (hover: hover) {
  a:hover {
    background-color: #664F35;
    color: #FFF7ED;
  }
}

@media (min-width: 1024px) {

}
