/* Update with our styling */

body {
  color: #664f35;
  background-color: #fff7ed;
  font-family: 'Cormorant', 'Times New Roman', serif;
  margin: 0;
}

#app {
  max-width: 1200px;
  padding: 0 3rem 3rem;
  margin: 0 auto;
  font-weight: normal;
}

h1 {
  font-family: 'Gabarito', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 6rem;
}

h2 {
  font-family: 'Gabarito', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
}

h3 {
  font-family: 'Gabarito', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
}

h4 {
  font-family: 'Gabarito', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.25rem;
}

a {
  font-family: 'Gabarito', Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: #664f35;
  transition: 0.4s;
  padding: 3px;
}

a:hover {
  text-decoration: underline solid 2px #664f35;
}

/* ---- This class is used to center the main element on page and add white background color ---- */
.wrapper {
  width: 100%;
  margin: auto;
  background-color: #fff7ed;
  padding: 1rem;
}

/* ---- This class is used to style genre tags ---- */
.genre {
  background-color: #664f35;
  color: #fff7ed;
  padding: 0.25rem;
}
